<section class="quiz__container">
    <h1 class="quiz__title">Qual personagem dos Simpsons você seria?</h1>

    <div class="box__question">
        <h3 class="quis__question">Qual é a sua comida favorita?</h3>
    </div>

    <div class="quiz__answers">
        <button href="#" class="btn btn-primary quiz__option">Rosquinhas</button>
        <button href="#" class="btn btn-primary quiz__option">Rosquinhas</button>
        <button href="#" class="btn btn-primary quiz__option">Rosquinhas</button>
        <button href="#" class="btn btn-primary quiz__option">Rosquinhas</button>
    </div>
</section>